<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <form id="FormVertical" onsubmit="return false;">
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label fs-2">Customer Name</label>
                            <div class="col">
                                <input type="text" class="form-control fs-2" name="CustomerName" id="CustomerName"
                                    aria-describedby="emailHelp" required="">
                                <div class="invalid-feedback">
                                    Should not be empty!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-md-6 col-form-label fs-2">Mobile</label>
                            <div class="col">
                                <input type="tel" class="form-control fs-2" name="Mobile" id="Mobile"
                                    pattern="[6789][0-9]{9}">
                                <div class="invalid-feedback">
                                    Should not be empty!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="col-md-6 col-form-label fs-2">Garments</label>
                            <div class="col">
                                <input type="text" class="form-control fs-2" name="Garments" id="Garments"
                                    aria-describedby="emailHelp" required="">
                                <div class="invalid-feedback">
                                    Should not be empty!
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-md-6 col-form-label fs-2">Weight</label>
                            <div class="col">
                                <input type="number" class="form-control fs-2" name="Weight" id="Weight"
                                    aria-describedby="emailHelp" required="">
                                <div class="invalid-feedback">
                                    Should not be empty!
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="col-form-label fs-2">Amount</label>
                            <div class="col-12">
                                <input type="number" class="form-control fs-2" name="Amount" id="Amount"
                                    aria-describedby="emailHelp" required="">
                                <div class="invalid-feedback">
                                    Should not be empty!
                                </div>
                            </div>

                        </div>

                    </div>


                </form>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-success fs-3" id="BookingSaveButtonId">Save</button>
            </div>


        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <div class="row">
                        <div class="col-1 fs-2">#</div>
                        <div class="col-8 fs-2">Garments</div>
                        <div class="col-3 fs-2">Pcs</div>
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1 fs-2">1</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments1" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs1" value=1
                            aria-describedby="helpId" placeholder="">
                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">2</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments2" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">
                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs2" value=2
                            aria-describedby="helpId" placeholder="">
                    </div>

                </div>

                <div class="row">
                    <div class="col-1 fs-2">3</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments3" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs3" value=3
                            aria-describedby="helpId" placeholder="">
                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">4</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments4" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>

                    <div class="col-3">
                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs4" value=4
                            aria-describedby="helpId" placeholder="">
                    </div>


                </div>
                <div class="row">
                    <div class="col-1 fs-2">5</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments5" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs5" value=5
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">6</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments6" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs6" value=6
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">7</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments7" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs7" value=7
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">8</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments8" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs8" value=8
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">9</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments9" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs9" value=9
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>
                <div class="row">
                    <div class="col-1 fs-2">10</div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text" class="form-control fs-2" id="Garments10" aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-3">

                        <input type="number" min="1" max="99" class="form-control fs-2" id="Pcs10" value=10
                            aria-describedby="helpId" placeholder="">

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>